@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,200,0,400;0,600;0,800;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Playfair+Display:ital,wght@0,400;0,600;0,800;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Architects+Daughter&family=Caprasimo&family=Noto+Sans+TC:wght@400;500&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400;0,600;0,800;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caprasimo&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400;0,600;0,800;1,400;1,500&display=swap');

/* font-family: 'Playfair Display', serif; /*
/*font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* The Navbar */
header {
    /* padding: 0 3em; */
    top: 0;
    position: sticky;
    width: 100%;
    height: 80px;
    background-color: white;
    z-index: 999;
}

.outer{
    position: relative;
    width: 80%;
    margin: 0 10%;
    padding: 1em 0;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobil {
    /* visibility: hidden; */
    background-color: white;
    width: 100dvw;
    position: fixed;
    height: 100dvh;
    /* gap: 1em; */
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    /* justify-content: space-between; */
    align-items: center;
    z-index: 990;
}

.mobil ul{
    list-style: none;
}

.mobil ul li p {
    font-family: 'Architects Daughter', cursive;
    font-size:30px;
    font-weight:200;
    padding: 0 0 1.5em;
    text-align: center;
}
.hidden {
    display: none;
}

.ham_menu{
    position: absolute;
    top: 20%;
    /* left: 80%; */
    right: 0;
    display: none;
    z-index: 2000;
    border: none;
    background: transparent;

}
.cancel{
    position: absolute;
    top: 20%;
    right: 0;
    z-index: 2000;
    border: none;
    background: transparent;
}
.nav h3{
font-family: 'Architects Daughter', cursive;
font-size: xx-large;
}

.nav ul{
    display: flex;
    gap: 1.4em;
    list-style: none;
}

.nav ul li p {
    /* font-family: 'Open Sans', sans-serif */
    /* font-family: 'Caprasimo', cursive; */
    padding: 7px 25px;
    border: 2px solid white;
    font-family: 'Architects Daughter', cursive;
    font-size:17px;
    font-weight:200;
}
.nav ul li p:hover{
    transition: 500ms;
    border-color: black;
    font-weight:700;
}

/* The first About the company part */
.sec-1{
    background-color: #161B33;
    height: auto;
    /* max-height: 700px; */
}

.humanizing{
    width: 40%;
    padding: 2em 1em 5em 4em;
    margin-left: 55px;
    position: relative;
}
.thin-line{
    margin-top: 3em;
    width: 30%;
    border: rgba(255, 255, 255, 0.514) 0.5px solid;
}
.humanizing h1{
    margin: 1em 0 10px 0;
    line-height: 60px;
    font-size: 70px;
    color: white;
    font-family: 'Playfair Display', serif;

}
.humanizing p{
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 200;
    margin: 1.5em 0 2em 0;
    line-height: 23px;
    /* font-size: 2px; */
    font-size: 13px;
}
.humanizing button{
    color: white;
    border: 1px white solid;
    background: transparent;
    padding: 10px 25px;
}
.humanizing button:hover{
    transition: 0.5s;
    color: black;
    font-weight: 600;
    background-color: white;
}

.family-img{
    position: absolute;
    inset: 80px 0 0 55vw;
    width: 30vw;
    /* height: 75vh; */
    max-height: 550px;
    /* use clamp for the image and text */
}
.different {
    margin-top: 5em;
    padding: 110px 5em 0 110px;
    width: 100%;
    margin-bottom: 5em;
}
.different hr{
    border: rgba(7, 7, 7, 0.514) 0.5px solid;
    width: 18%;
}
.different h1{
    margin: 1.3em 0 10px 0;
    line-height: 60px;
    font-size: 60px;
    color: rgb(0, 0, 0);
    font-family: 'Playfair Display', serif;
}
.container{
    display: flex;
    gap: 100px;
    justify-content:space-between;
    margin-top: 6em;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards h4{
    font-family: 'Playfair Display', serif;
    font-size: x-large;
    color: blueviolet;
    margin: 25px 0;
}
.cards p{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    line-height: 20px;
    font-size: 17px;
    text-align: center;
}
.more {
    margin-top: 14em;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 100px, 50px; */
}
.m-container{
    position: relative;
    /* margin: 87em, 5em; */
    border: black 2px solid;
    padding: 5em, 100px;
    width: 80%;
    display: flex;
    gap: 500px;
    justify-content: space-between;
    background-color: #161B33;
}
.m-container h1{
    text-align: left;
    width: 60%;
    margin: 1em 0 1em 1em;
    line-height: 60px;
    font-size: 60px;
    color: white;
    font-family: 'Playfair Display', serif;
}
.m-container button{
    position: absolute;
    top: 40%;
    font-size: 20px;
    left: 70%;
    /* right: min(10px, 0, 0); */
    color: white;
    border: 2px white solid;
    background: transparent;
    padding: 10px 25px;
    box-shadow: 5px 2px 2px white;
}
.m-container button:hover{
    transition: 0.5s;
    color: black;
    font-weight: 600;
    background-color: white;
    box-shadow: 5px 5px 5px black;
}

/* footer*/
footer{
    background-color: rgb(215, 243, 248);
    margin-top: 8em;
    padding: 4em 0;
}
.footer{
    display: grid;
    place-items: center;
}
.footer hr{
    border: rgba(7, 7, 7, 0.514) 1px solid;
    margin-bottom: 2em;
    width: 80%;
}
.socials{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 2em 0 0.5em;
    margin-bottom: 2em;
}
.socials h3{
    font-family: 'Architects Daughter', cursive;
    font-size: xx-large;
}
.about {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}
.secs h4{
    text-align: center;
    font-family: 'Caprasimo', cursive;
    color: rgb(83, 83, 83);
    font-weight: 100;
    font-size: 15px;
    margin-bottom: 30px;
}

.secs p{
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    line-height: 30px;
}
.secs p:hover{
    font-weight: 800;
}
@media screen and (max-width: 1024px){
    .nav ul{
        display: none;
    }
    .ham_menu{
        display: inline;
    }
    .different {
        margin-top: 0;
    }
    .m-container h1{
        width: 60%;
        font-size: 45px;
    }
    .m-container button{
        font-size: 15px;
    }
}
@media  screen and (max-width: 912px) {
    .different hr {
        display: none;
    }
    .different h1{
        margin: 0;
        text-align: center;
    }
    .different {
        padding-left: 5em;
    }
    .container{
        flex-direction: column;
    }
    .cards h4{
        font-size: 38px;
    }
    .cards p{
        font-size: 29px;
        line-height: 43px;
    }
    .humanizing p{
        font-size: 16px;
    }
}
@media screen and (max-width: 885px){
    .humanizing hr{
        display: none;
    }
    .family-img {
        position: relative;
        display: block;
        margin: 0 auto;
        inset: 0;
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
    .humanizing{
        width: 96.6vw;
        padding: 3em 3em 4em 3em;
        margin-left: 0;
    }
    .humanizing h1{
        text-align: center;
        margin-top: 30px;
    }
    .humanizing p{
        text-align: center;
    }
    .humanizing button{
        font-size: 20px;
        display: block;
        margin: auto;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 768px){
    .m-container h1{
        width: 60%;
        font-size: 35px;
    }
    .m-container button{
        font-size: 10px;
    }
}
@media screen and (max-width: 640px){
    .family-img{
        width: 100%;
        height: auto;
        border-radius: 0%;
        margin: 0;
    }
    .humanizing{
        padding: 0 0 1em 0;
    }
    .humanizing h1{
        font-size: 45px;
        line-height: 50px;
    }
    .humanizing p{
        padding: 0 20px;
    }
    .humanizing button{
        font-size: 10px;
    }
    .different{
        padding-left:1em;
        padding-right:1em;
        margin-bottom: 0;
    }
    .different h1{
        font-size: 45px;
    }
    .cards h4{
        font-size: 30px;
    } 
    .cards p{
        font-size: 25px;
    }
    .m-container{
        flex-direction: column;
        gap: 50px;
        height: 25vh;
    }
    .m-container button{
        position: absolute;
        /* display: block; */
        top: 70%;
        left: 29%;
    }
    .m-container h1{
        padding: 5px;
        text-align: center;
        width: 100%;
        height: 70%;
        margin: auto;
        font-size: 28px;
        line-height: 32px;
        
    }
    .socials{
        flex-direction: column;
        align-items: center;
    }
    .socials h3{
        padding-bottom: 10px;
    }
    .about{
        flex-direction: column;
        align-items: center;
        gap: 30px;
        /* width: 100%; */
    }
    .secs h4{
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 290px){
    .m-container h1{
        font-size: 20px;
    }
    .m-container button{
        font-size: 13px;
        left: 15%
    }
}
